.main__frigo {
  position: relative;
  width: 100%;
  display: flex;
  background-color: transparent;
}

.recherche {
  margin-right: 5px;
  height: 100%;
  width: 25%;
  background-color: $white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  &__title {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
  }
  &__text {
    width: 80%;
    margin: 2rem auto;
    display: block;
    border: 1px solid $black;
    padding: 7px;
    font-size: 1.5rem;
  }
  & .checkboxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    & .recherche__checkbox {
      margin: 10px;
      border: 1px solid $black;
      padding: 1rem;
      font-size: 1.5rem;
    }
  }
}

.toutesRecettes {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  padding: 2%;
  height: 100%;
  width: 75%;
  background-color: #fcfeb5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  & .article {
    cursor: pointer;
  }
}
.toutesRecettesHalf {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  padding: 2%;
  height: 100%;
  animation: diminution 0.5s ease-in-out;
  background-color: #fcfeb5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  & .article {
    cursor: pointer;
  }
}

.uneRecette {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
  position: absolute;
  z-index: -1;
  right: 0px;
  top: 0px;
  height: 500px;
  width: 28%;
  background-color: #b6b5fe;
  & h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
  }
}

@keyframes diminution {
  0% {
    width: 75%;
  }
  100% {
    width: 50%;
  }
}
