.navigation {
  color: $color-2;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  margin: 24px;
  @media screen and (max-width: 768px) {
    margin: 12px auto 0px auto;
    flex-direction: column;
  }
  ul {
    display: flex;

    a {
      text-decoration: none;
      padding: 10px;

      li {
        color: $color-2;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          color: $color-1;
        }
      }
    }
    .nav-active {
      position: relative;

      &:focus {
        content: "";
        border-bottom: 2px solid $color-1;
      }
    }
  }
  .partie {
    &__gauche {
      font-size: 40px;
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }
    &__droite {
      font-size: 25px;
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }
  }
}
