.home {
  &__photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    flex-direction: row;
    background-color: $color-2;
  }
  &__title {
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
    font-size: 2rem;
    font-weight: 600;
    color: $white;
  }
  &__text {
    color: $white;
    font-size: 24px;
    text-align: center;
    margin: 40px;
  }
}
