.profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 50%;
  margin: 5rem auto;
  padding: auto;
  background-color: $color-1;
  color: $white;
  text-align: center;
  border-radius: 1rem;
  font-size: 28px;

  &__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    gap: 50px;
    font-size: 24px;
  }

  &__btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: $white;
    color: $color-1;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    transition: all 0.3s;

    &:hover {
      background-color: $color-1;
      color: $white;
      cursor: pointer;
    }
  }
}
.profilUnconnected {
  font-size: 28px;
  display: flex;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & a {
    margin: 10px;
    cursor: pointer;
    color: $black;
    &:hover {
      color: $color-1;
    }
  }
}
