.singleproduct {
  margin: 0 5%;
  color: $color-1;
  height: 100vh;

  &__informations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

    & h1 {
      margin: 0;
      font-size: 50px;
      font-weight: bold;
      @include media-query(small) {
        font-size: 24px;
      }
      @include media-query(medium) {
        font-size: 30px;
      }
      @include media-query(large) {
        font-size: 50px;
      }
    }
  }

  &__content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
  }
  &__text {
    margin: auto;
  }
  &__img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
  &__location {
    font-size: 14px;
    font-weight: 500;
    @include media-query(small) {
      font-size: 16px;
    }
    @include media-query(medium) {
      margin-top: 0;
    }
    @include media-query(large) {
      font-size: 18px;
    }
  }
}
