.home__categorie {
  display: flex;
  flex-wrap: wrap;
  @media screen and  (max-width: 768px) {
    flex-direction: column;
  }
}
.home__article {
  width: calc(100% / 12 * 4);
  padding: 12px;
  @media screen and (max-width: 768px){
    width: 100%;
  }
}
