.main {
  padding: 40px 100px;
  height: 100%;
  @media screen and (max-width: 768px) {
    padding: 20px 12px;
  }
}

.homeSection {
  margin-bottom: 40px;
}

.avenir {
  font-size: 100px;
  color: $color-2;
}

.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1232px;
  padding: 0 16px;
  margin: 0 auto;
  position: relative;
}