@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/JosefinSans-Medium.ttf);
}

@mixin media-query($key) {
  $size: map-get($breakpoints, $key);
  @media only screen and (min-width: $size) {
    @content;
  }
}

$font-1: "font-1", sans-serif;

$color-1: #495921;
$color-2: #6c7d3e;
$color-3: #f7f7f7;
$white: #fff;
$black: #000;

$breakpoints: (
  small: 350px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: $font-1;
  max-width: 1920px;
}
li {
  list-style-type: none;
}
